.header {
    background-color: #EE8686;
    font-family: 'Source Sans Pro', sans-serif;
}
.header_section {
    padding: 40px 0;
}
.title {
    font-size: 35px;
    text-transform: uppercase;
    color: white;
}
.title-bold {
    font-weight: 700;
    font-size: 37px;
}
@media (max-width: 1140px) {
    .header_section {
        padding: 40px 20px;
    }
}
@media (max-width: 576px) {
    .header_section {
        text-align: center;
    }
}